/* CandidateJourney.css */

.candidate-journey {
    background-color: #f9f9f9; /* Light grey background for the article */
    color: #333; /* Dark grey text for readability */
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 800px; /* Set a max-width for optimal line length */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.candidate-journey h2 {
    color: #0056b3; /* A blue that might match your theme */
    margin-bottom: 20px;
}

.candidate-journey ol {
    margin-left: 20px;
    text-align: left;
}

.candidate-journey li {
    /* margin-bottom: 10px; */
    /* border:2px solid red; */
    padding: 10px;
}

@media (max-width: 768px) {
    .candidate-journey {
        padding: 10px;
        margin: 10px;
    }
}